<div class="container">
  <h1 class="text-danger text-center mt-3">Update User Info</h1>
  <!-- name -->
  <div class="row w-50 m-auto">
    <label class="fs-3">Name:</label>
    <input
      class="fs-4"
      #name
      type="text"
      placeholder="Enter your name"
      [value]="user.name"
    />
  </div>

  <!-- address -->
  <div class="row w-50 m-auto">
    <label class="fs-3 mt-4"> Address:</label>
    <input
      class="fs-4"
      #address
      type="text"
      placeholder="Address"
      [value]="user.address"
    />
  </div>

  <!-- Email -->
  <div class="row w-50 m-auto">
    <label class="fs-3 mt-4"><Address></Address>E-mail:</label>
    <input
      class="fs-4"
      #email
      type="text"
      placeholder="Email"
      [value]="user.email"
    />
  </div>

  <!-- phone -->
  <div class="row w-50 m-auto">
    <label class="fs-3 mt-4"><Address></Address>Phone:</label>
    <input
      class="fs-4"
      #phone
      type="text"
      placeholder="Phone"
      [value]="user.phone"
    />
  </div>

  <!-- button -->
  <div class="mt-4 d-flex justify-content-center">
    <input
      type="button"
      value="Update"
      class="btn btn-outline-danger p-3 fs-3"
      (click)="updateUser(name.value, address.value, email.value, phone.value)"
      routerLink="/home"
    />
  </div>
</div>
